/node_modules
/public/hot
/public/storage
/public/themes
/storage/*.key
/storage/app/*
/vendor
.vscode
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer-setup.php
.DS_Store
/storage_
/storage - Copy
/RS
*.zip
/storage/framework/
/old_version
/C:\\xampp\\htdocs\\storage\\debugbar/
/C:\\xampp\\htdocs\\storage\\logs/